.container {
  width: 750px;
  color: #333;
  margin: 100;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: Helvetica, sans-serif;
  position: relative;
}

#nav {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: justify;
  width: 100%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
  color: #D3D3D3;
}

p {
  font-size: 15px;
  line-height: 1.8;
}

li {
  font-size: 24px;
  line-height: 1.8;
}

a {
  text-decoration: none;
  background: #bdffc5;
  padding: 3px 6px;
  color: #000;
}
